body {
  background-image: url('Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}


div.transbox {
  width: 500px;
  background-color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

div.transbox p {
  margin: 30px 40px;
  color: #000000;
}
